ULTRON_M4_PORT=8787
ULTRON_M4_HERMES_URL=http://127.0.0.1:8642
ULTRON_M4_HERMES_API_KEY=
ULTRON_M4_INTERNAL_KEY=
ULTRON_M4_SESSION_KEY=ultron:arya:desktop

ULTRON_M4_COGNITION_PROVIDER=
ULTRON_M4_COGNITION_MODEL=
ULTRON_M4_WORKER_PROVIDER=
ULTRON_M4_WORKER_MODEL=
ULTRON_M4_VERIFIER_PROVIDER=
ULTRON_M4_VERIFIER_MODEL=
ULTRON_M4_CREATIVE_PROVIDER=
ULTRON_M4_CREATIVE_MODEL=

APOLLO_API_KEY=
ULTRON_M4_ALLOW_LEGACY=0
